In [1]:
#Import the required Libraries.
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

## Data Cleaning

### Data Reading & Data Types

In [2]:
#Read the data in pandas
inp0= pd.read_csv("Attribute+DataSet.csv ")
inp1= pd.read_csv("Dress+Sales.csv ")

You have “Attribute DataSet” which contains a column named “Price”. Choose the correct statement from the following about its data type and variable type.
- Integer type and numerical variable
- Object type and categorical ordinal variable
- Object type and categorical nominal variable
- Float type and categorical variable.

There is another column in “Attribute DataSet” named as “Recommendation”, choose the correct statement about its data type and variable type.
- Integer type and categorical
- Object type and categorical
- Integer type and continuous numerical
- Object type only.

Which of the following column do you think are of no use in “Attribute DataSet”.
- Dress_ID
- Price
- Size and material
- NeckLine
- None of the above

In [3]:
# Print the information about the attributes of inp0 and inp1.
print(inp0.info())
print(inp1.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 479 entries, 0 to 478
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Dress_ID        479 non-null    int64
 1   Style           479 non-null    object
 2   Price           477 non-null    object
 3   Rating          479 non-null    float64
 4   Size            479 non-null    object
 5   Season          477 non-null    object
 6   NeckLine        476 non-null    object
 7   SleeveLength    477 non-null    object
 8   Material        360 non-null    object
 9   FabricType      223 non-null    object
 10  Decoration      255 non-null    object
 11  Pattern Type    377 non-null    object
 12  Recommendation  479 non-null    int64
dtypes: float64(1), int64(2), object(10)
memory usage: 48.8+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 479 entries, 0 to 478
Data columns (total 24 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Dress_ID    479 non-null    float64
 1   29-08-2013  479 non-null    int64
 2   31-08-2013  479 non-null    int64
 3   09-02-2013  479 non-null    int64
 4   09-04-2013  479 non-null    int64
 5   09-06-2013  479 non-null    int64
 6   09-08-2013  479 non-null    int64
 7   09-10-2013  479 non-null    int64
 8   09-12-2013  479 non-null    object
 9   14-09-2013  479 non-null    object
 10  16-09-2013  479 non-null    object
 11  18-09-2013  479 non-null    object
 12  20-09-2013  479 non-null    object
 13  22-09-2013  479 non-null    object
 14  24-09-2013  479 non-null    int64
 15  26-09-2013  257 non-null    float64
 16  28-09-2013  479 non-null    int64
 17  30-09-2013  222 non-null    float64
 18  10-02-2013  220 non-null    float64
 19  10-04-2013  221 non-null    float64
 20  10-06-2013  479 non-null    int64
 21  10-08-2013  224 non-null    float64
 22  10-10-2013  224 non-null    float64
 23  10-12-2013  479 non-null    int64
dtypes: float64(7), int64(11), object(6)
memory usage: 89.9+ KB
None

### Fixing the Rows and Columns

As you can see, there is a column in “Attribute Dataset” named as ‘Size’. This column contains the values in abbreviation format. Write a code in Python to convert the followings:

- M into  “Medium”
- L into  “Large”
- XL into “Extra large”
- free into “Free”
- S, s & small into “Small”.

Now once you are done with changes in the dataset, what is the value of the lowest percentage, the highest percentage and the percentage of Small size categories in the column named “Size”?

In [4]:
# Column fixing, correcting size abbreviation. count the percentage of each size category in "Size" column.
size_mapping = {
    'M': 'Medium',
    'L': 'Large',
    'XL': 'Extra large',
    'Free': 'Free',
    'S': 'Small',
    's': 'Small',
    'small': 'Small'
}

# Convert 'Size' column values using the mapping dictionary
inp0['Size'] = inp0['Size'].map(size_mapping)

# Calculate the percentage of each size category
size_percentages = inp0['Size'].value_counts(normalize=True) * 100

# Find the lowest, highest, and percentage of small size categories
lowest_percentage = size_percentages.min()
highest_percentage = size_percentages.max()
percentage_small = size_percentages['Small']

print("Lowest Percentage:", lowest_percentage)
print("Highest Percentage:", highest_percentage)
print("Percentage of Small Size Categories:", percentage_small)

Lowest Percentage: 4.45859872611465
Highest Percentage: 54.45859872611465
Percentage of Small Size Categories: 11.464968152866243

In [5]:
# Print the value counts of each category in "Size" column.
inp0.Size= inp0.Size.replace(['S', 'small', 's'], "Small")

inp0.Size= inp0.Size.replace('free', "Free")

inp0.Size= inp0.Size.replace('M', "Medium")

inp0.Size= inp0.Size.replace('L', "Large") 

inp0.Size= inp0.Size.replace('XL', "Extra large")

inp0.Size.value_counts(normalize=True)

Medium         0.544586
Large          0.296178
Small          0.114650
Extra large    0.044586
Name: Size, dtype: float64

### Impute/Remove Missing values

In [6]:
# Print the null count of each variables of inp0 and inp1.
inp1.loc[inp1['09-12-2013']== 'Removed',"09-12-2013"] = np.NaN

inp1.loc[inp1['14-09-2013']== 'removed',"14-09-2013"] = np.NaN

inp1.loc[inp1['16-09-2013']== 'removed',"16-09-2013"] = np.NaN

inp1.loc[inp1['18-09-2013']== 'removed',"18-09-2013"] = np.NaN

inp1.loc[inp1['20-09-2013']== 'removed',"20-09-2013"] = np.NaN

inp1.loc[inp1['22-09-2013']== 'Orders',"22-09-2013"] = np.NaN

You are given another dataset named “Dress Sales”. Now if you observe the datatypes of the columns using ‘inp1.info()’ command, you can identify that there are certain columns defined as object data type though they primarily consist of numeric data.

Now if you try and convert these object data type columns into numeric data type(float), you will come across an error message. Try to correct this error.

In [7]:
# Print the data types information of inp1 i.e. "Dress Sales" data.
print(inp1.dtypes)

Dress_ID      float64
29-08-2013      int64
31-08-2013      int64
09-02-2013      int64
09-04-2013      int64
09-06-2013      int64
09-08-2013      int64
09-10-2013      int64
09-12-2013     object
14-09-2013     object
16-09-2013     object
18-09-2013     object
20-09-2013     object
22-09-2013     object
24-09-2013      int64
26-09-2013    float64
28-09-2013      int64
30-09-2013    float64
10-02-2013    float64
10-04-2013    float64
10-06-2013      int64
10-08-2013    float64
10-10-2013    float64
10-12-2013      int64
dtype: object

In [14]:
# Try to convert the object type into float type of data. YOU GET ERROR MESSAGE.
inp1 = inp1.astype(float)
inp1

,Dress_ID,29-08-2013,31-08-2013,09-02-2013,09-04-2013,09-06-2013,09-08-2013,09-10-2013,09-12-2013,14-09-2013,...,24-09-2013,26-09-2013,28-09-2013,30-09-2013,10-02-2013,10-04-2013,10-06-2013,10-08-2013,10-10-2013,10-12-2013
0,1.006033e+09,2114.0,2274.0,2491.0,2660.0,2727.0,2887.0,2930.0,3119.0,3204.0,...,3554.0,3624.0,3706.0,3746.0,3795.0,3832.0,3897.0,3923.0,3985.0,4048.0
1,1.212192e+09,151.0,275.0,570.0,750.0,813.0,1066.0,1164.0,1558.0,1756.0,...,2710.0,2942.0,3258.0,3354.0,3475.0,3654.0,3911.0,4024.0,4125.0,4277.0
2,1.190381e+09,6.0,7.0,7.0,7.0,8.0,8.0,9.0,10.0,10.0,...,11.0,11.0,11.0,11.0,11.0,11.0,11.0,11.0,11.0,11.0
3,9.660060e+08,1005.0,1128.0,1326.0,1455.0,1507.0,1621.0,1637.0,1723.0,1746.0,...,1878.0,1892.0,1914.0,1924.0,1929.0,1941.0,1952.0,1955.0,1959.0,1963.0
4,8.763395e+08,996.0,1175.0,1304.0,1396.0,1432.0,1559.0,1570.0,1638.0,1655.0,...,2032.0,2156.0,2252.0,2312.0,2387.0,2459.0,2544.0,2614.0,2693.0,2736.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
474,9.905592e+08,0.0,0.0,0.0,60.0,62.0,64.0,65.0,67.0,68.0,...,73.0,74.0,75.0,75.0,76.0,76.0,77.0,77.0,77.0,77.0
475,7.133920e+08,0.0,0.0,0.0,560.0,554.0,544.0,537.0,525.0,519.0,...,400.0,388.0,360.0,364.0,372.0,377.0,380.0,382.0,384.0,285.0
476,5.328743e+08,0.0,0.0,0.0,734.0,728.0,726.0,715.0,694.0,690.0,...,616.0,597.0,586.0,569.0,561.0,555.0,551.0,546.0,535.0,520.0
477,6.554649e+08,0.0,0.0,0.0,254.0,259.0,261.0,263.0,268.0,270.0,...,257.0,256.0,255.0,254.0,253.0,250.0,249.0,249.0,249.0,248.0
478,9.199310e+08,0.0,0.0,0.0,538.0,545.0,558.0,563.0,578.0,585.0,...,628.0,632.0,639.0,645.0,651.0,655.0,660.0,668.0,674.0,680.0

In [8]:
# Do the required changes in the "Dress Sales" data set to get null values on string values.
inp0 = inp0.replace('string_value', np.nan)

# Check for null values
print(inp0.isnull().sum())

Dress_ID            0
Style               0
Price               2
Rating              0
Size              165
Season              2
NeckLine            3
SleeveLength        2
Material          119
FabricType        256
Decoration        224
Pattern Type      102
Recommendation      0
dtype: int64

In [12]:
# Convert the object type columns in "Dress Sales" into float type of data type.
dates = ['29-08-2013', '31-08-2013', '09-02-2013', '09-04-2013', '09-06-2013', '09-08-2013', '09-10-2013',
         '09-12-2013', '14-09-2013', '16-09-2013', '18-09-2013', '20-09-2013', '22-09-2013', '24-09-2013',
         '26-09-2013', '28-09-2013', '30-09-2013', '10-02-2013', '10-04-2013', '10-06-2013', '10-08-2013',
         '10-10-2013', '10-12-2013']

# Repeat for other columns
for i in dates:
    inp1[i] = inp1[i].astype(float)
# Check the data types
print(inp1.dtypes)

Dress_ID      float64
29-08-2013    float64
31-08-2013    float64
09-02-2013    float64
09-04-2013    float64
09-06-2013    float64
09-08-2013    float64
09-10-2013    float64
09-12-2013    float64
14-09-2013    float64
16-09-2013    float64
18-09-2013    float64
20-09-2013    float64
22-09-2013    float64
24-09-2013    float64
26-09-2013    float64
28-09-2013    float64
30-09-2013    float64
10-02-2013    float64
10-04-2013    float64
10-06-2013    float64
10-08-2013    float64
10-10-2013    float64
10-12-2013    float64
dtype: object

In [10]:
inp1.shape

(479, 24)

When you see the null counts in “Dress Sales” dataset after performing all the operations that have been mentioned in jupyter notebook, you will find that there are some columns in “Dress Sales” data where there are more than 40% of missing values. Based on your understanding of dealing with missing values do the following steps.

In [ ]:
# Print the null percetange of each column of inp1.

In [ ]:
# Drop the columns in "Dress Sales" which have more than 40% of missing values.

You should categorise the dates into seasons in “Dress Sales” data to simplify the analysis according to the following criteria:
- June, July and August: Summer.
- September, October and November: Autumn.
- December, January and February: WInter.
- March, April and May: Spring.

In [40]:
inp1['Spring'] = inp1.apply(lambda x: x['09-04-2013'], axis=1)

inp1['Summer'] = inp1.apply(lambda x: x['29-08-2013'] + x['31-08-2013']+ x['09-06-2013']+ x['09-08-2013']+ x['10-06-2013'], axis=1)

inp1['Winter'] = inp1.apply(lambda x: x['09-02-2013'] + x['09-12-2013']+ x['10-12-2013'], axis=1)

inp1['Autumn'] = inp1.apply(lambda x: x['09-10-2013'] + x['14-09-2013']+ x['16-09-2013']+ x['18-09-2013']+ x['20-09-2013']+ x['22-09-2013']+ x['24-09-2013']+ x['28-09-2013'], axis=1)

KeyError: '09-04-2013'

In [ ]:
# calculate the sum of sales in each seasons in inp1 i.e. "Dress Sales".

Now let's merge inp1 with inp0 with left join manner, so that the information of inp0 should remain intact.

In [ ]:
# Merge inp0 with inp1 into inp0. this is also called left merge.
inp0 = pd.merge(left=inp0,right=inp1, how='left', left_on='Dress_ID', right_on='Dress_ID')
inp.head()

In [ ]:
# Now Drop the Date columns from inp0 as it is already combined into four seasons.
inp0.drop(inp0.loc[:,'29-08-2013':'10-12-2013'].columns, axis= 1, inplace= True)
inp0.isnull().sum()

Print the null count of inp0 to get the idea about the missing values in data set.

In [ ]:
# Print the null count of each columns in inp0 dataframe i.e. combined data frame of inp0 and inp1 without date columns.

You can see that there are two types of variables one with a large number of missing values and another is very less number of missing values. These two columns can be categorized as:

Type-1: Missing values are very less (around 2 or 3 missing values): Price, Season, NeckLine, SleeveLength, Winter and Autumn. 

Type-2: Missing values are large in numbers (more than 15%): Material, FabricType, Decoration and Pattern Type.

In [ ]:
# Deal with the missing values of Type-1 columns: Price, Season, NeckLine, SleeveLength, Winter and Autumn.

In [ ]:
# Deal with the missing values for Type-2 columns: Material, FabricType, Decoration and Pattern Type.

### Standardise value

In the given dataset, there are certain discrepancies with the categorical names such as irregular spellings. Choose the correct option of columns with irregular categories and update them.
 
- Season, NeckLine
- Price, Material
- fabricType, Decoration
- Season, SleeveLength

In [ ]:
#correcting the spellings.

In [ ]:
#correcting the Spellings.

## Univariate Analysis

### Categorical Unordered Univariate Analysis

There is a column named ‘Style’ in ‘Attribute Dataset’ which consists of the different style categories of the women apparels. Certain categories whose total sale is less than 50000 across all the seasons is considered under one single category as ‘Others’.

Which of the following categories in ‘Style’ column can be grouped into ‘Others’ category? and perform the grouping operation in the notebook for further analysis.
- Flare, fashion
- Novelty, bohemian
- OL, fashion, work
- Novelty, fashion, Flare

In [2]:
# Group "Style" categories into "Others" which have less than 50000 sales across all the seasons.

What is the percentage of “cute” and “Others” category in “Style” column in “Attribute DataSet” respectively?
- 46%, 5%
- 9%, 2.1%
- 2.1%, 5%
- 13.8%, 9%

In [ ]:
# Calculate the percentage of each categories in the "Style" variable.

Similarly Club Neckline, SLeeve length categories into "Others" which have less than 50000 sales across all the seasons.

In [ ]:
# Group "Neckline" categories into "Others" which have less than 50000 sales across all the seasons.

In [ ]:
# Group "Sleeve length" categories into "Others" which have less than 50000 sales across all the seasons.

Club material, fabrictype, patterntype and decoration categories into "Others" which have less than 25000 sales across all the seasons

In [ ]:
# Group "material" categories into "Others" which have less than 25000 sales across all the seasons.

In [ ]:
# Group "fabric type" categories into "Others" which have less than 25000 sales across all the seasons.

In [ ]:
# Group "patern type" categories into "Others" which have less than 25000 sales across all the seasons.

In [ ]:
# Group "decoration" categories into "Others" which have less than 25000 sales across all the seasons.

### Caregorical Ordered Univariate Analysis

Which of the following is an unordered variable in “Attribute DataSet”.
- Style
- Price
- Season
- Size

### Numerical variable Univariate analysis:

What is the approximate difference between the maximum value and 75th percentile in “Autumn” column.
- Approx 54000
- Approx 55000
- Approx 52000
- Approx 50000

In [ ]:
# Describe the numerical variale: "Autumn".

In [ ]:
# plot the boxplot of "Autumn" column.

Which of the following season has the highest difference between the maximum value and 99th quantile of sales?
- Winter
- Summer
- Spring
- Autumn

In [ ]:
# Find the maximum and 99th percentile of Winter season.

In [ ]:
# Find the maximum and 99th percentile of Summer season.

In [ ]:
# Find the maximum and 99th percentile of Spring season.

In [ ]:
# Find the maximum and 99th percentile of Autumn season.

## Bivariate Analysis

### Numerical- Categorical analysis

Which of the following “Price” category has the lowest average value of rating?
- very-high
- Medium
- Low
- High

In [ ]:
# Find the Mean of Ratings for each Price category.

What is the median of the rating of “vintage” category in Style column?
- 4.6
- 4.7
- 4.55
- 0.00

In [ ]:
# Find the median of Ratings for each Style category.

Which of the following season has the highest average value of sale for “Recommendation” value equals to 1.
- Summer
- Spring
- Autumn
- Winter

In [ ]:
# Summer sale vs Recommendation.

In [ ]:
# Spring sale vs Recommendation.

In [ ]:
# Autumn sale vs Recommendation.

In [ ]:
# Winter sale vs Recommendation.

### Categorical categorical bivariate analysis

Which of the following size categories has the highest positive recommendations?
- Medium and extra large
- Extra large and small
- Free and small
- Free and medium

In [ ]:
# Size vs Recommendation.

### Multivariate analysis

Which of the following pair of “Style” and “Price” category has the highest average of positive recommendations?
- Price: medium and style: vintage
- Price: medium and style: cute
- Price: very high and style: party
- Price: low and style: sexy

In [ ]:
# plot the heat map of Style, price and Recommendation.

Which of the following material type has no recommendation in summer and winter seasons?
- Mix and Milksilk
- Nylon and Rayon
- Microfiber and Silk
- Milksilk and Microfiber

In [ ]:
# plot the heat map of Season, material and Recommendation.