In a school, there are total 100 students numbered from 1 to 100. You’re given three lists named ‘C’, ‘F’, and ‘H’, representing students who play cricket, football, and hockey, respectively. Based on this information, find out and print the following: 
- Students who play all the three sports
- Students who play both cricket and football but don’t play hockey
- Students who play exactly two of the sports
- Students who don’t play any of the three sports

In [1]:
C = [7, 8, 9, 18, 20, 21, 25, 26, 27, 31, 32, 34, 35, 36, 40, 43, 45, 47, 53, 58, 62, 67, 68, 71, 72, 74, 75, 76, 80, 81, 82, 90, 93, 95, 97, 99]
F = [1, 7, 10, 13, 16, 22, 24, 29, 30, 32, 34, 39, 40, 43, 44, 48, 56, 60, 65, 68, 69, 73, 77, 78, 90, 93, 94, 95, 96]
H = [5, 12, 14, 17, 20, 21, 22, 25, 28, 30, 37, 38, 39, 40, 42, 44, 57, 59, 61, 62, 67, 71, 75, 76, 77, 82, 83, 86, 87, 92, 94, 95]

#### Q1. Which are the students who play all the three sports?
- [22, 39]
- [39, 82]
- [40, 95]
- [82, 94]

In [4]:
lst = []
for i in C:
    if i in F:
        if i in H:
            lst.append(i)
lst

[40, 95]

#### Q2. Which are the players who play both cricket and hockey but don't play football?
- [20, 21, 25, 62, 67, 71, 75, 76, 82]
- [20, 21, 22, 25, 30, 32, 34]
- [20, 21, 22, 25, 30, 32, 34, 39, 43, 44, 62]
- [20, 21, 68, 71, 75, 76]

In [6]:
nl = []
lst = []
for i in C:
    if i in H:
        if i not in F:
            lst.append(i)
            
lst
# print(sorted((set(C).intersection(set(H))).difference(set(F))))

[20, 21, 25, 62, 67, 71, 75, 76, 82]

#### Q3. How many players play exactly two sports?
- 19
- 20
- 21
- 22

In [14]:
# print(set(C))
# print(set(H))
# print(set(F))
one = sorted((set(C).intersection(set(H))).difference(set(F)))
two =sorted((set(C).intersection(set(F))).difference(set(H)))
three = sorted((set(F).intersection(set(H))).difference(set(C)))
sm = one + two + three
print(len(sm))
print(len(set(sm)))

22
22

#### Q4. Which of these students do not play any of the sports? (More than one option may be correct)
- 41
- 48
- 63
- 85

In [15]:
lst = []
if (41 in C) or (41 in H) or (41 in F):
    lst.append(41)
if (48 in C) or (48 in H) or (48 in F):
    lst.append(48)
if (63 in C) or (63 in H) or (63 in F):
    lst.append(63)
if (85 in C) or (85 in H) or (85 in F):
    lst.append(85)
lst

[48]

In [19]:
41 in F

False

In [22]:
print(list(set(sorted(C))))
print(list(set(sorted(F))))
print(list(set(sorted(H))))

[7, 8, 9, 18, 20, 21, 25, 26, 27, 31, 32, 34, 35, 36, 40, 43, 45, 47, 53, 58, 62, 67, 68, 71, 72, 74, 75, 76, 80, 81, 82, 90, 93, 95, 97, 99]
[1, 7, 10, 13, 16, 22, 24, 29, 30, 32, 34, 39, 40, 43, 44, 48, 56, 60, 65, 68, 69, 73, 77, 78, 90, 93, 94, 95, 96]
[5, 12, 14, 17, 20, 21, 22, 25, 28, 30, 37, 38, 39, 40, 42, 44, 57, 59, 61, 62, 67, 71, 75, 76, 77, 82, 83, 86, 87, 92, 94, 95]